# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.json
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
#*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.json
*.mx

# Executables
*.exe
*.out
*.app

#make stuff
*compiler_depend.internal
*.cpp.o
*compiler_depend.make
*.cpp.o.d

# Build file from Cmake
build/*
build/**/*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
